/* Base HTML Styles */

:root {
  --yellow: #f4d040;
  --green: #57d68d;
  --lightblue: #5dade2;
  --blue: #2905d4;
  --black: #111111;
  --gray: #c3c3c3;
  --purple: #957eea;
  --lightpurple: #eccffe;
  --pink: #ff66c4;
  --lightestpurple: #f9efff;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* .contentlink1,
.contentlink2,
.contentlink3,
.contentlink4 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  text-align: right;
  display: flex;
  margin: 0 auto;
  justify-content: right;
  align-items: right;
} */

/* Header */

.desktop-nav {
  display: none;
}

header button {
  all: unset;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    text-decoration: none;
    color: var(--black);
  }

  nav {
    display: list-item;
  }

  .header {
    height: 1000px;
  }

  svg {
    height: 100px;
  }

  header nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
  }

  .hamburger-icon {
    display: none;
  }
}

.logo,
.hamburger-icon {
  height: 50px;
}

.aboutme,
.blurb {
  font-family: "Courier New", Courier, monospace;
}

/* Mobile Header */

.mobile-header {
  padding: 16px;
  align-items: flex-end;
  justify-content: center;
}

/* Landing Page */

#webpageblurb {
  background-color: var(--lightestpurple);
  padding: 56px 16px;
}

#webpageblurb h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}

#webpageblurb .content {
  color: red;
}

@media (min-width: 768px) {
  #webpageblurb {
    padding: 120px 56px;
  }
}

@media (min-width: 768px) {
  .modelingphoto1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Icon */

#youtubeitems article {
  padding: 32px 16px;
}

#youtubeitems article .icon {
  height: 250px;
}

#youtubeitems article h2 {
  margin-bottom: 16px;
  color: white;
}

/* Mission Statement Poem Img */

#youtubecontent .missionstatepoem {
  height: 300px;
}

/* Poems Page */

#poemcontent .poems .peacepoem {
  height: 500px;
  align-content: center;
}
/* Music Page */

/* .MOTLAlbumTitle {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  align-items: left;
}

.MOTLAlbuminfo {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  align-items: left;
}

#youtubemusicitems .iconalbum {
  height: 300px;
  display: flex;
  margin: 0 auto;
}

#youtubemusicitems .track1video {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  align-items: left;
  padding: 56px;
}

#youtubemusicitems .track2video {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  align-items: center;
  padding: 56px;
} */

.iconalbum {
  padding: 16px;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 768px) {
  .iconalbum {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Music Page Videos */

/* .video-container {
  display: flex;
  justify-content: right;
  align-content: space-between;
} */

.Video1Title,
.Video2Title,
.Video1info,
.Video2info {
  flex: 1;
  padding: 20px;
  align-content: right;
  font-family: "Courier New", Courier, monospace;
}

.video-container {
  flex: 1;
}

.video-container {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Music Page Top Image */

.mysoundbanner-bg {
  height: 8vh;
  background-image: url("MySound.png");
}

@media (min-width: 768px) {
  #AlbumCover,
  .iconalbum {
    display: flex;
    align-items: left;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .video-container {
    display: flex;
    align-items: left;
    width: 100%;
  }
}

.TitleMySound {
  font-size: 4rem;
  align-items: left;
}

.SubtitleMySound {
  opacity: 0.7;
  font-weight: normal;
  align-items: left;
  justify-content: left;
}

.pageblurb {
  margin-right: 80px;
}

.pageblurb,
.mysoundbanner-bg {
  flex: 1;
}

.mysoundbanner-bg {
  height: 8vh;
  background-image: url("MySound.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 62%;
}

.video-container {
  height: 88vh;
  display: flex;
}

/* Modeling Page */

#modelingitems {
  height: 40rem;
  /* text-align: center; */
  display: block;
  /* margin: 40px auto; */
  /* justify-content: center; */
  /* align-items:center; */
  padding: 32px 16px;
}

#PhotoSection {
  height: 40rem;
  /* text-align: center; */
  display: block;
  /* margin: 40px auto; */
  /* justify-content: center; */
  /* align-items:center; */
  padding: 32px 16px;
}

@media (min-width: 768px) {
  #Photosection {
    height: 10rem;
  }
}

/* Utilities */

.display-none {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}

.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  display: block;
  padding: 4px 16px;
}

/* Landing Page Content Panels */

#contentpanels {
  display: block;
  padding: 32px 16px;
}

/* #contentpanels .contentlink1 {
  padding: 32px 16px;
}

#contentpanels .contentlink2 {
  padding: 32px 16px;
}

#contentpanels .contentlink3 {
  padding: 32px 16px;
}

#contentpanels .contentlink4 {
  padding: 32px 16px;
} */

@media (min-width: 768px) {
  #contentpanels .contentlink1 .contentlink2 .contentlink3 .contentlink4 {
    height: 40px;
  }
}

@media (min-width: 768px) {
  #contentpanels {
    display: flex;
    margin: 20px;
    justify-content: center;
    padding: 32px 56px;
  }
}

#contentpanels h3 {
  margin-bottom: 16px;
  color: var(--lightestpurple);
}

#contentpanels .contentlink1 .contentlink2 .contentlink3 .contentlink4 {
  margin-bottom: 16px;
}

#contentpanels .contentlink1 .contentlink2 .contentlink3 .contentlink4 {
  background-color: var(--lightestpurple);
  transition: all 0.3s ease;
}

#contentpanels .contentlink1:hover {
  filter: contrast(150%);
}

#contentpanels .contentlink2:hover {
  filter: contrast(150%);
}

#contentpanels .contentlink3:hover {
  filter: contrast(150%);
}

#contentpanels .contentlink4:hover {
  filter: contrast(150%);
}

#contentpanels .contentlink1 .contentlink2 .contentlink3 .contentlink4 {
  height: 32px;
}

.contentlink1,
.contentlink2,
.contentlink3,
.contentlink4 {
  padding: 60px 120px;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contentlink1,
.contentlink3 {
  background-color: var(--pink);
  color: var(--pink);
}

.contentlink2,
.contentlink4 {
  background-color: var(--purple);
  color: var(--purple);
}

/* #contentpanels .panel1 {
  background-color: var(--pink);
}

#contentpanels .panel2 {
  background-color: var(--pink);
}

#contentpanels .panel3 {
  background-color: var(--pink);
}

#contentpanels .panel4 {
  background-color: var(--pink);
} */

/* Contact Form */

#contact {
  padding: 48px 16px;
}

#contact input,
#contact select {
  margin-bottom: 16px;
}

#contact .ContactTitle {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  #contact .ContactTitle {
    text-align: center;
    font-size: 2.5rem;
  }

  #contact form {
    max-width: 60%;
    margin: 40px auto;
  }
}

#contact input[type="submit"] {
  background-color: var(--pink);
  border: 0;
  margin-top: 8px;
  cursor: pointer;
}

/* Social Media Link */

#SocialMedia .Instagram .InstagramIcon {
  max-width: 10%;
  height: 16px;
  flex-direction: column;
  display: block;
}

@media (min-width: 768px) {
  #SocialMedia .Instagram .InstagramIcon {
    height: 8px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Footer */

footer {
  padding: 16px;
  text-align: center;
}

/* Poem Page */

@media (min-width: 768px) {
  #poemspage_title .PoemBlurbTitle .PoemBlurbInfo {
    display: block;
  }
}

/* Career Page */

.work_photo {
  height: 400px;
}
